/* Custom styling for components on the taxonomic service page */
.imageBackground {
    background: repeating-linear-gradient(45deg,
            var(--greyLight),
            var(--greyLight) 10px,
            var(--grey) 10px,
            var(--grey) 20px);
}

@media only screen and (max-width: 768px) {
    .imageBackground {
        height: 10rem !important;
    }
}

/* Description block */
@media only screen and (min-width: 768px) {
    .descriptionBlock {
        height: 13rem;
    }
}

/* Multimedia block */
.multimediaItem {
    height: 10rem;
    max-width: 100%;
}

/* ORCID logo */
.identifierLogo {
    height: 1.3rem;
}