/* Custom styling for a custom button component */
.button {
    background-color: transparent;
    transition: 0.3s;
}

.button:disabled {
    filter: brightness(80%) !important;
}

.button:hover {
    filter: brightness(130%);
}


/* Primary variant */
.primary {
    background-color: var(--primary);
    color: white;
}

.secondary {
    background-color: var(--secondary);
    color: white;
}

.tertiary {
    background-color: var(--tertiary);
    color: white;
}