/* Custom styling for the Home page */

.background {
    background:
        url('/webroot/img/homeBackground.jpg');
    background-color: #333333;
    background-blend-mode: difference;
    filter: contrast(1.0);
    background-size: cover;
    background-position: 0%;
}

/* Home Category */
.homeCategoryBar {
    height: 10%;
}