/* Custom styling for the Header component */
@media only screen and (max-width: 768px) {
    .header {
        position: sticky;
        -webkit-box-shadow: 1px 7px 15px -7px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 7px 15px -7px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 7px 15px -7px rgba(0, 0, 0, 0.75);
    }
}

.CETAFLogo {
    height: 4rem;
}