/* Root variables */
:root {
  --primary: #FF8E3E;
  --secondary: #21614A;
  --tertiary: #7BC1DC;
  --accent: #78D3AC;
  --dark: #05041D;
  --background: #f9fafc;
  --greyLight: #f1f1f3;
  --grey: #D9D9DF;
  --greyMedium: #B4B4BF;
  --greyDark: #868696;
  --error: #E74C3C;
}

/* Import Montserrat Font */
@font-face {
  font-family: 'Montserrat';
  src: url(webroot/font/Montserrat-VariableFont_wght.ttf);
}

/* Global styles */
html {
  height: 100vh;
  font-size: 1.9vmax;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 0.85vmax
  }
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  background-color: var(--background);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  margin: 0 !important;
  padding: 0 !important;
  color: inherit;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0 !important;
}

/* Font sizes, default is 16px */
.fs-5 {
  font-size: 0.75rem !important;
}

.fs-4 {
  font-size: 0.875rem !important;
}

.fs-3 {
  font-size: 1.125rem !important;
}

.fs-2 {
  font-size: 1.5rem !important;
}

.fs-1 {
  font-size: 2.5rem !important;
}

@media only screen and (min-width: 768px) {
  .fs-lg-5 {
    font-size: 0.75rem !important;
  }
  
  .fs-lg-4 {
    font-size: 0.875rem !important;
  }

  .fs-lg-default {
    font-size: 1rem !important;
  }
  
  .fs-lg-3 {
    font-size: 1.125rem !important;
  }
  
  .fs-lg-2 {
    font-size: 1.5rem !important;
  }
  
  .fs-lg-1 {
    font-size: 2.5rem !important;
  }

  .fs-title {
    font-size: 3rem !important;
  }
  
  .fs-subTitle {
    font-size: 2rem !important;
  }
}

/* Text color */
.tc-primary {
  color: var(--primary);
}

.tc-secondary {
  color: var(--secondary);
}

.tc-tertiary {
  color: var(--tertiary);
}

.tc-accent {
  color: var(--accent);
}

.tc-white {
  color: #ffffff;
}

.tc-grey {
  color: var(--greyDark);
}

.tc-error {
  color: var(--error);
}

/* Font weight */
.fw-lightBold {
  font-weight: 500;
}

/* Text overflow */
.textOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Background color */
.bgc-primary {
  background-color: var(--primary);
}

.bgc-secondary {
  background-color: var(--secondary);
}

.bgc-tertiary {
  background-color: var(--tertiary);
}

.bgc-accent {
  background-color: var(--accent);
}

.bgc-dark {
  background-color: var(--dark);
}

.bgc-default {
  background-color: var(--background);
}

.bgc-white {
  background-color: #ffffff;
}

.bgc-grey {
  background-color: var(--grey);
}

.bgc-grey-light {
  background-color: var(--greyLight);
}

.bgc-none {
  background-color: transparent;
}

/* Gradient */
.gradient-primary {
  background: rgb(249, 250, 252);
  background: linear-gradient(180deg, rgba(249, 250, 252, 1) 10%, rgba(255, 238, 227, 1) 30%, rgba(255, 210, 178, 1) 60%, rgba(255, 238, 227, 1) 95%, rgba(249, 246, 244, 1) 100%);
}

.gradient-secondary {
  background: rgb(249, 250, 252);
  background: linear-gradient(180deg, rgba(249, 250, 252, 1) 10%, rgba(236, 248, 244, 1) 30%, rgba(198, 235, 222, 1) 60%, rgba(236, 248, 244, 1) 95%, rgba(249, 246, 244, 1) 100%);
}

/* Border */
.b-primary {
  border: 1px solid var(--primary);
}

.b-none {
  border: none;
}

/* Border radius */
.br-corner {
  border-radius: 8px;
}

/* Overflow */
.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

@media only screen and (max-width: 768px) {
  .overflow-y-lg-scroll {
    overflow-y: scroll;
  }
}

/* Z-index */
.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

/* Width and Height */
@media only screen and (max-width: 768px) {
  .w-100 {
    width: 100% !important;
  }

  .w-50 {
    width: 50% !important;
  }

  .h-100 {
    height: 100% !important;
  }

  .h-50 {
    height: 50% !important;
  }

  .h-auto {
    height: auto !important;
  }
}

@media only screen and (min-width: 768px) {
  .w-lg-25 {
    width: 25% !important;
  }

  .h-lg-100 {
    height: 100% !important;
  }

  .h-lg-50 {
    height: 50% !important;
  }

  .h-lg-auto {
    height: auto !important;
  }
}

/* Position */
@media only screen and (max-width: 768px) {
  .position-absolute {
    position: absolute !important;
  }
}

@media only screen and (min-width: 768px) {
  .position-lg-static {
    position: static !important;
  }
}

/* Transition */
.tr-smooth {
  transition: 0.3s;
}

/* Buttons */
.button-no-style {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  text-align: inherit;
}

/* Scroll Bars */

/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}